/* styling for button list */


/* tag content */

#tag-content {
    flex-direction: column;
    overflow: scroll;
}

#tag-content > div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    & > input {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        width: 10%;
    }
}

#list-content {
    gap: 5px;
}