* {
    --nav-content-width: 90%;
    font-family: "Roboto", sans-serif;
}

/* Font Face */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}


body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
}

/* To Do UI Wrap */

.ToDo-UI {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 3fr;
}

/* Navigation */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--nav-content-width);
    height: 95%;
    border-radius: 10px;
    background-color: #f3f4f6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--nav-content-width);
    margin-top: 10px;
}

#hamburger > div{
    width: 1.5vw;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

#hamburger:hover {
    cursor: pointer;
}

#menu {
    font-weight: bold;
    font-size: 1.4em;
}

#search-bar {
    margin-top: 10px;
    height: 2vh;
    width: 20vw;
    padding: 5px;
    font-size: 1rem;
}

.nav-card {
    border-bottom: 1px solid #cbd5e1;
    width: var(--nav-content-width);
    height: 150px;
    margin: 15px;
    overflow: hidden;
  }
  
  .nav-title {
    font-weight: bolder;
    font-size: 0.9rem;
  }
  
  .nav-content {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: auto;
    height: calc(100% - 15px);
  }
  
  .content-sect {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: small;
    border-radius: 10px;
    cursor: pointer;
  }

  /* Task sect */
  
  input[type="radio"] {
    display: none;
  }
  
  input[type="radio"]:checked + label {
    background-color: #e5e5e5;
    color: black;
    font-weight: bold;
  }
  
  .content-sect:hover {
    background-color: #f0f0f0;
  }

  .nav-icon {
    width: 15px;
    height: 15px;
  }

  /* main and container */

  main {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  /* Sticky container stuff */
  .stickyContainer {
    display: grid;
    width: 95%;
    max-height: 85vh;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: auto;
    overflow-y: scroll;
    gap: 15px;
  }

  .Card {
    margin-top: 1px;
    border-radius: 10px;
    min-height: 245px;
    align-self: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  #includeCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f5;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    & > img {
      width: 25%;
      height: 25%;
    }
  }

  #includeCard:hover {
    background: rgba(241, 245, 249, 0.959);
  }

  #includeCard:active {
    background: rgba(241, 245, 249, 0.904);
    top: 2px;
  }

  /* form */

  /* Modal styles */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
}

.modal-content h2 {
  margin-top: 0;
  font-weight: bold;
  color: #333;
}

.contact-form {
  margin: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.contact-form input, .contact-form select, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.contact-form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #3e8e41;
}

.close {
  order: 1;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* To-do list styles */

.contact-form {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-form li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.contact-form li:last-child {
  border-bottom: none;
}

.contact-form label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}

.contact-form input, .contact-form select, .contact-form textarea {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  resize: none;
}

.contact-form input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show {
  display: block;
}